{% extends "admin/change_form.html" %}
{% load i18n %}
{% block object-tools %}
<ul class="object-tools">
    <li><a href="#" id="previewlink">Preview Essay</a></li>
</ul>
<script type="text/javascript">
    $ = django.jQuery;
    $(function() {
        $('#previewlink').click(function(ev) {
            var data, i, entry, previewForm;
            ev.preventDefault();
            previewForm = $('#content-main form').clone().hide().appendTo($('body')).attr('id', 'preview-form').attr('target', 'essay_preview').attr('action',"{% url essay 'preview' %}");
            data = $('#content-main form').serializeArray();
            for (i = 0; i < data.length; i++) {
                entry = data[i];
                previewForm.find('[name=' + entry.name + ']').val(entry.value);
            }
            previewForm.submit();
            previewForm.remove();
        });
    });
</script>
{% endblock %}