{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% load staticfiles %}
{% block content %} 
<div id="main" class="messages">
<h1>{% trans "Messages"%}</h1>
    {% include "django_messages/_sidebar.html" %}
    <div id="container">
        <h2>Compose Message</h2>
        <form id="message-form" action="" method="post">
            {% csrf_token %}
        <table>
        <tbody>
            <tr><th><label for="id_recipient">To:</label></th><td><input type="text" id="id_recipient" name="recipient"></td></tr>
            <tr><th><label for="id_subject">Subject:</label></th><td><input type="text" maxlength="120" name="subject" id="id_subject"></td></tr>
            <tr><th style="vertical-align: top;"><label for="id_body">Message:</label></th><td><textarea name="body" cols="55" rows="12" id="id_body"></textarea></td></tr>
        </tbody>
        </table>
        <input class="message-primary-action mrg-top" type="submit" value="{% trans "Send" %} &raquo;"/>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap-typeahead.js" %}"></script>
<script type="text/javascript" src="{% static "script/messages_compose.js" %}"></script>
{% endblock %}
