{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% block content %}
<div id="main" class="messages">
    <h1>{% trans "Messages" %}</h1>
    <div id="sidebar" class="messages">
        <ul class="subnavilist">
            <li><a class="btn btn-danger" href="{% url messages_compose %} ">{% trans "New Message" %}</a></li>
            <li><a href="{% url messages_inbox %} ">{% trans "Inbox" %}</a></li>
            <li><a href="{% url messages_outbox %} ">{% trans "Sent Messages" %}</a></li>
            <li><a href="{% url messages_trash %} ">{% trans "Trash" %}</a></li>
        </ul>
    </div>
    <div id="container">
        <h2>{{ message.subject }}</h2>
        <div id="info"><a href="{{message.sender.get_absolute_url}}">{{ message.sender }}</a><span id="date">{{ message.sent_at|date:_("DATETIME_FORMAT")}}</span></div>
        {{ message.body|escape|urlize|linebreaksbr|safe }}<br /><br />

        {% ifequal message.recipient.pk user.pk %}
        <a class="btn" href="{% url messages_reply message.id %}">{% trans "Reply" %}</a>
        {% endifequal %}
        <a class="btn" href="{% url messages_delete message.id %}"><i class="icon-trash"></i> {% trans "Delete" %}</a>
    </div>
</div>
{% endblock %}
