.tile img {
    max-width: 256px;
}
.tile {
    min-height: 8em;
    padding: 1em;
}
.details {
    float: right;
}
.details order {
    display: none;
}
.selected {
    background: graytext;
}
.tile:hover {
    outline: 2px solid bisque;
    cursor: pointer;
}
#docs li {
    font-size: small;
    list-style: circle outside none;
}
#docs ul {
    margin-left: 2em;
}
#linkedit p {
    margin-bottom: .5em;
}
#linkedit label {
    display: inline;
}
#linkedit div {
    height: 2.5em;
}