.messages#main h1 {
    font-size: 25px;
    margin: 10px 0 20px 0;
    color: #F46817;
}

.messages#main h2 {
    color: #333;
}

#sidebar {
    float:left;
    width: 200px;
    padding: 20px;
    margin: 0 20px 20px 0;
    background: white;
}

#container {
    float:left;
    width: 678px;
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

#container strong {
    font-weight: bold;
}

#container th {
    font-weight: bold;
    color: #666;
}

#container .messages td {
    padding: 10px 15px 10px 0;
    font-size: 13px;
}

#info {
    margin-bottom:15px;
}
#info #date {
    float:right;
}

#container table {
    width: 100%;
}

#container textarea {
    width: 596px;
}

#container input {
    width: 604px;
}

#container .twitter-typeahead {
    width: 100%;
}

#container tbody tr {
    border-top: 1px solid #4a4a4a;
}

#container tbody tr a {
    font-weight: inherit;
}

#container form tr {
    border-top: 0;
}

#container.message {
    font-size:14px;
    line-height:18px;
}

#container.message p {
    margin-bottom: 10px;
}

.message-action {
    background: none repeat scroll 0 0 #aaa;
    border-radius: 5px 5px 5px 5px;
    color: #000;
    font-size: 16px;
    padding: 8px;
    font-family: 'Marvel',sans-serif;
    width: auto !important;
}

.message-action i {
    vertical-align: sub;
}

.message-primary-action {
    background: none repeat scroll 0 0 #9E2F1E;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    font-size: 16px;
    padding: 8px;
    font-family: 'Marvel',sans-serif;
    width: auto !important;
}

.subnavilist li {
    font-size: 14px;
    margin: 5px 0;
}

.subnavilist li.current a {
    color: #4A4A4A;
}
