{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
       rel="stylesheet"
       href="{% static "theme/site.css" %}">

    <link 
       href="{% static "components/bootstrap/css/bootstrap.min.css"%}" 
       rel="stylesheet" media="screen">

  </head>

<body>

  <div class="container">
    <a class="btn" id="add-layers" href="#">Add Layers</a>
  </div>

  <script src="{% static "components/jquery/jquery.min.js" %}"></script>
  <script src="{% static "components/underscore/underscore-min.js" %}"></script>
  <script src="{% static "components/backbone/backbone-min.js"%}"></script>
  <script src="{% static "components/bootstrap/js/bootstrap.min.js" %}"></script>
  <script src="{% static "components/bootstrap/js/bootstrap.js" %}"></script>

  <script id="layer-element" type="text/template">

    <div>
      <p><a href="#"><%= layer.title %></a>
        by <a href="<%= layer.owner_detail %>"><%= layer.owner %></a> on
        <%= layer.last_modified %></p>
    </div>
    <img src="<%= layer.thumb %>">
    <p><%= layer.views %> Views | <%= layer.rating %> Rating</p>
    <div class="more-info">
      <small><%= layer.abstract %></small>
    </div>

  </script>

  <script id="add-layer-template" type="text/template">
    <div class="modal-header">
        <h3>Manage Layers</h3>


      <form class="form-search">
        <ul>
        <li>
          <button id="search" type="submit" class="btn">Search</button>
          <input id="query" type="text" class="search-query">
        </li>

        <li>

          <select id="sortBy">
            <% _.each(sortOptions, function (opt) { %>
            <option value="<%= opt.value %>"><%= opt.title %></option>
            <% }) %>
          </select>
          <button class="btn">Limit by bounding box</button>
        </li>
        </ul>
      </form>


    </div>

    <div class="modal-body">

      <ul id="ms-search-layers">
      </ul>

    </div>

    <div class="modal-footer">
      <button id="done" class="btn">Done</button>
    </div>

  </script>



  <script src="{% static "script/map-search.js"%}"></script>
  <script type="text/javascript">

    $(function () {

      // mock the geo explorer application to make it easier to test
      // and debug
      var app = {
         mapPanel: {
            layers: {
               add: function () {}
            }
         },
         addLayerSource: function (config) {
            return {
              store: {
                 load: function () {}
              },
              on: function (config) {},
              createLayerRecord: function (config) {}
            };
         },
         layerSources: {
         }
      };

       main({
          geoExplorer: app,
          searchUrl: "{% url new_search_api %}"
       });

    });
  </script>


</body>
