{% load staticfiles %}
{% load mapstory_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static "theme/geonode.css" %}" />

    <link rel="stylesheet" type="text/css" href="{% static "theme/ext-theme.css" %}" />


    <link rel="stylesheet"
          type="text/css"
          href="xternals/ext/resources/css/ext-all.css" />

    <link rel="stylesheet"
          type="text/css"
          href="{% geonode_static "externals/ext/resources/css/xtheme-access.css" %}"/>

    <script 
       type="text/javascript" 
       src="{% geonode_static "externals/ext/adapter/ext/ext-base.js" %}">
    </script>

    <script 
       type="text/javascript" 
       src="{% geonode_static "externals/ext/ext-all.js" %}">
    </script>


    <link
       rel="stylesheet"
       href="{% static "theme/site.css" %}">

  </head>

<body style="background: #454238;">

  <script src="{% static "components/jquery/jquery.min.js" %}"></script>

  <script type="text/javascript" src="{% static "script/jquery.expander.min.js" %}"></script>


  <script src="{% static "script/map-search.js"%}"></script>
  <script type="text/javascript">

    $(function () {

      // mock the geo explorer application to make it easier to test
      // and debug
      var app = {
         mapPanel: {
            layers: {
               add: function () {
                 console.log('you tried to add a layer');
               }
            }
         },
         addLayerSource: function (config) {
            return {
              store: {
                 load: function () {}
              },
              on: function (config) {},
              createLayerRecord: function (config) {}
            };
         },
         layerSources: {
         }
      };
    var widget = new LayerSearch({
        geoExplorer: app,
        searchUrl: "{% url new_search_api %}"
    }).render();

    });
  </script>


</body>
