{% load staticfiles %}
{% load mapstory_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static "theme/geonode.css" %}" />

    <link rel="stylesheet" type="text/css" href="{% static "theme/ext-theme.css" %}" />


    <link rel="stylesheet"
          type="text/css"
          href="xternals/ext/resources/css/ext-all.css" />

    <link rel="stylesheet"
          type="text/css"
          href="{% geonode_static "externals/ext/resources/css/xtheme-access.css" %}"/>

    <script 
       type="text/javascript" 
       src="{% geonode_static "externals/ext/adapter/ext/ext-base.js" %}">
    </script>

    <script 
       type="text/javascript" 
       src="{% geonode_static "externals/ext/ext-all.js" %}">
    </script>


    <link
       rel="stylesheet"
       href="{% static "theme/site.css" %}">

  </head>

<body style="background: #454238;">

  <script src="{% static "components/jquery/jquery.min.js" %}"></script>
  <script src="{% static "components/underscore/underscore-min.js" %}"></script>
  <script src="{% static "components/bootstrap/js/bootstrap.min.js" %}"></script>

  <script id="layer-element" type="text/template">

    <div>
      <p><a href="#"><%= layer.title %></a>
        by <a href="<%= layer.owner_detail %>"><%= layer.owner %></a> on
        <%= layer.last_modified %></p>
    </div>
    <img src="<%= layer.thumb %>">
    <p><%= layer.views %> Views | <%= layer.rating %> Rating</p>
    <div class="more-info">
      <small><%= layer.abstract %></small>
    </div>

  </script>

  <script id="add-layer-template" type="text/template">
    <div id="ms-header">
      <form>
        <fieldset>
          <button id="search" type="submit" class="btn">Search</button>
          <input id="query" type="text" class="search-query">
          <select id="sortBy">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
            <option value="alphaaz">Alphabetical (A-Z)</option>
            <option value="alphaza">Alphabetical (Z-A)</option>
            <option value="popularity">Popularity</option>
            <option value="rel">Relevance</option>
          </select>
        </fieldset>

        <fieldset>
          <label>Limit layers current map area</label>
          <input id="bbox-limit"type="checkbox">
        </fieldset>

      </form>
    </div>


    <div id="ms-search-layers">
      <ul>
      </ul>
    </div>


    <div id="ms-footer">
      <button id="done" class="btn">Done</button>
    </div>

  </script>



  <script src="{% static "script/map-search.js"%}"></script>
  <script type="text/javascript">

    $(function () {

      // mock the geo explorer application to make it easier to test
      // and debug
      var app = {
         mapPanel: {
            layers: {
               add: function () {
                 console.log('you tried to add a layer');
               }
            }
         },
         addLayerSource: function (config) {
            return {
              store: {
                 load: function () {}
              },
              on: function (config) {},
              createLayerRecord: function (config) {}
            };
         },
         layerSources: {
         }
      };
    var widget = new LayerSearch({
        geoExplorer: app,
        searchUrl: "{% url new_search_api %}"
    }).render();

    });
  </script>


</body>
