<div id="emailprefs" data-url="{% url user_activity_api %}">
    <p>Notify me via email:</p>
    <div class="btn-group"  data-toggle="buttons-radio">
        <button data-code="N" class="btn {{ nactive }}">Never</button>
        <button data-code="S" class="btn {{ sactive }}">Once a Day</button>
        <button data-code="E" class="btn {{ eactive }}">Immediately</button>
    </div>
    <p class='alert alert-info mrg-top'>Your email digest will tell you when others comment on and rating your StoryLayers and MapStories, and when others use your StoryLayers to make a new MapStory.</p>
</div>