<img src="" />
<p>Welcome to the MapStory community. MapStorytellers come from all sorts of places and backgrounds but are connected by their desire to build a better picture of how our world has changed, is changing and might change over time.</p>
<p>Now get involved!</p>
<h3><a href="http://wiki.mapstory.org/index.php?title=How_To">Learn</a></h3>
<p>MapStorytelling is a process of using open data and your own perspective to tell stories about change in place over time. It can seem daunting at first if you're not used to working with data and maps. But don't worry! The community is adding new resources all the time to make it easier for people of any skill level to get involved. See the <a href="http://wiki.mapstory.org/index.php?title=How_To">how-to documentation</a>.</p>
<h3><a href="http://mapstory.org">Contribute</a></h3>
<p>There's three ways to contribute to MapStory. If you have data to share, <a href="http://mapstory.org/data/upload/">Add StoryLayers</a>. If you have a story to tell, draw on existing StoryLayers and <a href="http://mapstory.org/maps/new"> Build a MapStory</a>. And if you just want to share some knowledge you have or help others improve, become a <a href="http://wiki.mapstory.org/index.php?title=Curation_Guide">Curator</a>.</p>
<h3><a href="http://wiki.mapstory.org">Join the Community</a></h3>
<p>MapStory is a community, not a company. We rely on users like you to share what you know, launch new initiatives, develop new tools, raise money, and curate the commons. So get involved, and build the future you want to see! </p>
<p>Happy MapStorytelling!</p>
